<%- include('bootstrap_and_other_packages') %>

<style>
    #topnav {
        background-color: #15335e;
        color: white;
        padding: 10px 10px;
    }
    #logo {
        padding-right:10px;
    }
    a:hover {
        color:#8aafeb;
        text-decoration:none;

    }
    a {
        color:white;  
    }
</style>

<div id="topnav" class="row">
    <div class="col-2"><h3><i id="logo" class="fab fa-forumbee"></i>Pollinate</h3></div>
    <div class="col-2"><a href="/routes/study"><h5 id="studyLink" style="margin-top:8px;">Study</h5></a></div>
    <div class="col-2"><a href="/routes/motivate"><h5 id="motivateLink" style="margin-top:8px;">Motivate</h5></a></div>
</div>

<script>
    if (window.location.href.indexOf("study") > -1) {
        document.querySelector("#studyLink").style.color = '#8aafeb';
    }
    else if (window.location.href.indexOf("motivate") > -1) {
        document.querySelector("#motivateLink").style.color = '#8aafeb';
    }
</script>