<%- include('bootstrap_and_other_packages') %>

<style>
    #topnav {
        background-color: #15335e;
        color: white;
        padding: 10px 10px;
    }
    #logo {
        padding-right:10px;
    }
</style>

<div id="topnav" class="row">
    <div class="col-4"><h3><i id="logo" class="fab fa-forumbee"></i>Pollinate</h3></div>
    <div class="col-4"><h3>Study</h5></div>
    <div class="col-4"><h3>Motivate</h5></div>
</div>