<%- include('bootstrap_and_other_packages') %>

<style>
    #topnav {
        background-color: #15335e;
        color: white;
        padding: 10px 10px;
    }
    #logo {
        padding-right:10px;
    }
    a:hover {
        color:#8aafeb;
        text-decoration:none;

    }
    a {
        color:white;  
    }
</style>

<div id="topnav" class="row">
    <div class="col-2"><h3><i id="logo" class="fab fa-forumbee"></i>Pollinate</h3></div>
    <div class="col-2"><a id="studyLink" href="/routes/study?user="><h5 id="studyLink" style="margin-top:8px;">Plan Meeting</h5></a></div>
    <div class="col-2"><a id="motivateLink" href="/routes/motivate?user="><h5 id="motivateLink" style="margin-top:8px;">Select Meeting</h5></a></div>
    <div class="col-2"><a id="aboutLink" href="/routes/about?user="><h5 id="aboutLink" style="margin-top:8px;">About</h5></a></div>
</div>

<script>
    if (window.location.href.indexOf("study") > -1) {
        document.querySelector("#studyLink").style.color = '#8aafeb';
    }
    else if (window.location.href.indexOf("motivate") > -1) {
        document.querySelector("#motivateLink").style.color = '#8aafeb';
    }
    else if (window.location.href.indexOf("about") > -1) {
        document.querySelector("#aboutLink").style.color = '#8aafeb';
    }
    const urlParams = new URLSearchParams(window.location.search);
    const user = urlParams.get('user');
    document.getElementById("studyLink").href += user;
    document.getElementById("motivateLink").href += user;
    document.getElementById("aboutLink").href += user

</script>