<%- include('partials/topnav_signedin') %>

<style>
    .tile {
        background-color:white; border-radius:5px; margin-bottom:15px !important; padding:15px 30px; width: 700px; margin:auto;
    }
    body {
        height: 100%;
        overflow: hidden;
    }
</style>
<div class="overflow-auto" style="background-color:#eaeaea;height:100%;padding:20px; padding-bottom: 100px;">
    <div class="tile shadow-sm" style="text-align:center;">
        <h3>Video Tutorial:</h3>
        <hr>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X0FMYzDc5Is" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tile shadow-sm">
        <h3 style="text-align:center;">FAQ:</h3>
        <hr>
        Q: How do I create a study session?<br>
        A: Go to the study page and click a time period on the calendar. A pop-up modal should appear allowing you to customize the time period if needed.
        <hr>
        Q: How do I sign up to get paid to motivate someone?<br>
        A: Go to the motivate page and click a study session that one of the studiers created to be their motivator. 
        <hr>
        Q: Ok, I have a meeting set up, where will that meeting take place?<br>
        A: An email will be sent to you with a link to a zoom meeting.
        <hr>
        Q: I've successfully motivated someone, how do I get paid?<br>
        A: The pollinate venmo account will venmo you after your meeting is over.
        <hr>
        Q: I had a productive study session, how will I be charged?<br>
        A: The pollinate venmo account will send you a request after your study session.
    </div>
    <div class="tile shadow-sm">
        <h3 style="text-align:center;">Meet the Pollinate Team:</h3>
        <hr>
        <img style="width: 560px;" src="/team.jpg">
        <hr>
        <b>Jon Jon</b>(top left): jon jon bio
        <hr>
        <b>Jack</b>(top right): jack bio
        <hr>
        <b>Henry</b>(bottom): 3rd year computer science major, brother of Sigma Chi, and XC runner
    </div>
</div>